@import '~@sprinklrjs/spaceweb-themes/hyperspace/themeVars.min.css';
@import '~@sprinklrjs/spaceweb-themes/utilities.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--spr-text-01);
}

body>div:first-child,
div#__next {
  height: 100%;
}

a {
  color: var(--spr-link);
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.content-enter {
  opacity: 0;
  transform: translateY(150px);
}

.content-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms, transform 600ms;
}

.content-exit {
  opacity: 1;
}

.content-exit-active {
  opacity: 0;
  transition: opacity 0s;
}

.content-appear {
  opacity: 0;
  transform: translateY(150px);
}

.content-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms, transform 600ms;
}

*:focus {
  outline: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
  temporary until the real-time notification designs are ready
*/
.realtime-popup-container .notif-marker {
  display: none;
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* by default, `-webkit-user-select: none` gets added in input[draggable="true"] for Safari. 
  Need to give it specifically webkit-user-select: text; for Safari   
  Ref: https://stackoverflow.com/questions/32192686/cannot-type-in-password-field-with-draggable-true-in-safari  */
input[draggable='true'] {
  -webkit-user-select: text;
  user-select: text;
}